* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DAD7CD;
}

div {
    box-sizing: border-box;
    /*Esta regla permite que el width y height sean siempre lo establecido,
    compensando los cambios de padding*/
    width: 15vw;
    height: 15vw;
    margin: 0 0 1vw 5vw;
    padding: 8vw;
    /* forma en pixeles:
    width: 200px;
    height: 200px;
    margin: 0 0 10px 50px;
    padding: 80px;
    */

    background-color: #588157;
    border: #212121 solid 2px;
    float: left;

}

#div1,
#div3 {
    background-color: #344E41;
}